name: build java Application

on:
  push:
    branches:
      - main   # optional but recommended

jobs:
  builddeployjob:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Install Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the code
        run: mvn clean package

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: sonal04/myimagejava:latest
